# -------------------------------
# GLPI data
# -------------------------------
glpi-code/db_data/
glpi-code/files/
glpi/storage/


# -------------------------------
# GLPI core vendor
# -------------------------------
glpi/glpi/vendor/
glpi/glpi/marketplace/

# -------------------------------
# Logs
# -------------------------------
*.log

# -------------------------------
# System / IDE files
# -------------------------------
*.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# -------------------------------
# Git CRLF handling
# -------------------------------
# Mantener LF en Linux/macOS y evitar conversiones automáticas en Windows
# Ejecuta: git config --global core.autocrlf input
