version: '2'

services:
    db-ocs:
      image: mysql:5.7
      container_name: db-ocs
      volumes:
        - db-data:/var/lib/mysql
      environment:
        MYSQL_ROOT_PASSWORD: mysqlocs
        MYSQL_USER: ocsinventory
        MYSQL_PASSWORD: ocsinventory
        MYSQL_DATABASE: ocsweb
      ports:
        - "3306:3306"
      networks:
        - glpi-ocs-net

    web-ocs:
      image: slllaps/ocs-inventory:2.3
      container_name: web-ocs
      volumes:
        - web-data:/usr/share/ocsinventory-reports/ocsreports
      environment:
        ENV_OCS_DB_HOST: db-ocs
        ENV_OCS_DB_PORT: 3306
        ENV_OCS_DB_NAME: ocsweb
        ENV_OCS_DB_LOCAL: ocsweb
        ENV_OCS_DB_USER: ocsinventory
        ENV_OCS_DB_PWD: ocsinventory
      ports:
        - "80:80"
      depends_on:
        - db-ocs
      networks:
        - glpi-ocs-net

volumes:
    db-data:
    web-data:

networks:
  glpi-ocs-net:
    driver: bridge
